
.navbar{
   
    font-family: 'Fira Sans', sans-serif;
    border-bottom:10px solid grey;
    margin-bottom:10px;
  background:white;
}

.nav-link, .header{
  color:grey;
}
/* .navbar-nav{
    text-align:center;
} */