.row{
    text-align:center;

}

/* 
.col{
    text-align:center;
} */.card {
    background:white;
    border-radius:15px;
    box-shadow: 0 12px 24px #999, 0 12px 24px #999;
    font-family: 'Montserrat', sans-serif;
    padding:10px;
    
}

/* .gigMusician, .gigpay{
    text-align:center;
} */

.search-list{
    border-radius:15px;
    background:#F5F5F5;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    margin:20px;
    padding:25px;
    font-family: 'Montserrat', sans-serif;
}

.profile{
   color:#065c27;
  
}

.card-body{
   background:#E0E0E0;
}

